.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: 95%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.inputError {
  border-color: #dc3545;
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}

.errorMessage {
  color: #dc3545;
  font-size: 14px;
  margin-top: -8px;
  margin-bottom: 10px;
}

.dateHeader {
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #343a40;
}

.dateHeader h2 {
  margin: 0;
  font-size: 20px;
  color: #495057;
}

.todoInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.addButton {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: black;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #218838;
}

.dateLabel {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.datePicker {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #f8f9fa;
  outline: none;
  transition: border-color 0.3s;
}

.datePicker:focus {
  border-color: #007bff;
  background-color: #fff;
}

.datePicker:hover {
  border-color: #0056b3;
}

.react-datepicker {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.react-datepicker__header {
  background-color: #007bff;
  color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
}

.react-datepicker__current-month {
  font-size: 16px;
  font-weight: bold;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
}

.react-datepicker__day--today {
  font-weight: bold;
  border: 1px solid #007bff;
}

.react-datepicker__day:hover {
  background-color: #0056b3;
  color: #1c0202;
}

.react-datepicker__navigation {
  top: 12px;
}

.react-datepicker__navigation-icon::before {
  border-color: #fff;
}

.react-datepicker__month-container {
  padding: 10px;
}
