.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: 95%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.inputError {
  border-color: #dc3545;
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
}

.errorMessage {
  color: #dc3545;
  font-size: 14px;
  margin-top: -8px;
  margin-bottom: 10px;
}

.dateHeader {
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #343a40;
}

.dateHeader h2 {
  margin: 0;
  font-size: 20px;
  color: #495057;
}

.todoInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.addButton {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: black;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #218838;
}
